\.vs
\words_in_salov\a.txt
\words_in_salov\б.txt
\words_in_salov\в.txt
\words_in_salov\г.txt
\words_in_salov\е.txt
\words_in_salov\ё.txt
\words_in_salov\ж.txt
\words_in_salov\з.txt
\words_in_salov\и.txt
\words_in_salov\й.txt
\words_in_salov\к.txt
\words_in_salov\л.txt
\words_in_salov\м.txt
\words_in_salov\н.txt
\words_in_salov\о.txt
\words_in_salov\п.txt
\words_in_salov\р.txt
\words_in_salov\с.txt
\words_in_salov\т.txt
\words_in_salov\у.txt
\words_in_salov\ф.txt
\words_in_salov\х.txt
\words_in_salov\ц.txt
\words_in_salov\ч.txt
\words_in_salov\ш.txt
\words_in_salov\щ.txt
\words_in_salov\э.txt
\words_in_salov\ю.txt
\words_in_salov\я.txt
\x64\Release\а.txt
\x64\Release\б.txt
\x64\Release\в.txt
\x64\Release\г.txt
\x64\Release\д.txt
\x64\Release\е.txt
\x64\Release\ё.txt
\x64\Release\ж.txt
\x64\Release\з.txt
\x64\Release\и.txt
\x64\Release\й.txt
\x64\Release\к.txt
\x64\Release\л.txt
\x64\Release\м.txt
\x64\Release\н.txt
\x64\Release\о.txt
\x64\Release\п.txt
\x64\Release\р.txt
\x64\Release\с.txt
\x64\Release\т.txt
\x64\Release\у.txt
\x64\Release\ф.txt
\x64\Release\х.txt
\x64\Release\ц.txt
\x64\Release\ч.txt
\x64\Release\ш.txt
\x64\Release\щ.txt
\x64\Release\э.txt
\x64\Release\ю.txt
\x64\Release\я.txt